/* Sidebar Component*/
.active {
  background: #e7ecf9;
  color: red;
  border-left-color: goldenrod;
}
/* End Sidebar Component */

/* Search */
.search {
  display: flex;
  align-items: center;
  padding: 3px;
}

.search input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

/*End  Search */

.pagination {
  @apply list-none flex justify-end items-center mt-20 mr-20 text-2xl gap-[5px];
}

.pagination .page-link {
  @apply cursor-pointer py-1 px-[15px] font-medium rounded text-primary-50 bg-primary-40 flex justify-center items-center;
}
.pagination .page-link-next {
  @apply flex justify-center items-center py-1 px-[15px] cursor-pointer text-grayScale-10 rounded font-medium bg-primary-50;
}

.pagination .page-link-data {
  @apply py-1 px-[15px] cursor-pointer rounded font-medium bg-grayScale-10 text-primary-50;
}

.pagination .page-link:hover {
  @apply text-grayScale-100 bg-succes-50;
}

.pagination .active {
  @apply text-grayScale-10 bg-succes-50;
}

/* Users Page || users Components */
.title {
  @apply font-["Inter"] font-bold text-2xl;
}

/* End Users Page || Users Components */

/* Products */
.cards-product {
  @apply flex flex-row flex-wrap w-full;
}
.card-product {
  @apply flex mr-6 mb-3 w-[266px] h-[121px] text-grayScale-90 font-semibold text-2xl bg-primary-30 rounded-xl;
}

/* End Produts // Products Components */

input {
  background: transparent;
}

/* Card Components */

.card-component {
  @apply h-[80px] mb-2 bg-grayScale-10 flex items-center justify-between px-[18px];
}

.card-component-2 {
  @apply h-[80px] mb-2 bg-grayScale-10 flex items-center justify-between px-6 py-4  rounded-xl;
}

.modal-component {
  @apply fixed inset-0 bg-grayScale-100 bg-opacity-25 backdrop-blur-sm flex justify-center items-center;
}
