.circle2 {
  border-radius: 0 200px 200px 200px;
  background-color: aliceblue;
}

.download {
  background-image: url(../img/about-desain.png);
  border-radius: 120px 20px;
  transform: translate(-50%, 0%);
}

#about{
  background-image: url(../img/about-desain.png);
}

.bagiankesatu {
  opacity: 0.5600000023841858;
  background: var(--primary-40, #5679d7);
  filter: blur(300px);
}
